* {
    margin: 0;
    font-family: sans-serif;
}

body {
    background-color: #3a3ddd27;
}

section:first-of-type {
    padding-top: 50px;
}

.wrapper {
    margin: 0 auto;
    width: 25%;
    padding: 20px 0px 10px 25px;
    background-color: #ffffff;
    border-radius: 20px;
    padding-bottom: 50px;
}

img {
    width: 97%;
    border-radius: 10px;
    position: relative;
    left: -1%;
    margin-top: -7px;
}

section:first-of-type h1 {
    width: 100%;
    font-size: 25px;
    text-align: center;
    color: rgba(1, 6, 34, 0.836);
    font-weight: 900;
    padding-left: -30px;
}

section:first-of-type p {
    width: 75%;
    text-align: center;
    padding: 15px 0 0 50px;
    color: #473a9b8e;
    font-size: 18px;
}
section:last-of-type{
    text-align: center;
    padding: 40px 0;
}
section:last-of-type a{
    color: rgb(59, 146, 175);
    text-decoration: none;
    font-size: large;
    font-weight: 500
}
@media ((min-width: 300px) and (max-width: 545px)) {
    .wrapper {
        margin: 0 auto;
        width: 80%;
        text-align: center;
    }

    img {
        margin: 4px 0 0 -12px;
    }

    section:first-of-type h1 {
        font-size: 23px;
        margin-left: -4%;
    }
    section:first-of-type h1:first-of-type{
        padding: 10px 0 0 3px;
    }

    section:first-of-type h1:first-of-type {
        font-size: 25px;

    }

    section:first-of-type p {
        font-size: 18px;
        width: 90%;
        margin-left: -50px;
    }
}

@media ((min-width: 545px) and (max-width: 650px)) {
    .wrapper {
        margin: 0 auto;
        width: 80%;
        text-align: center;
    }

    img {
        margin: 4px 0 0 7px;
    }

    section:first-of-type h1 {
        font-size: 25px;
        margin-left: -5%;
    }

    section:first-of-type h1:first-of-type {
        margin-left: -7%;
        font-size: 25px;
    }

    section:first-of-type p {
        font-size: 20px;
    }
}

@media ((min-width: 650px) and (max-width: 785px)) {
    section:first-of-type h1 {
        text-align: center;
        font-size: 28px;
        margin-left: -30px;
    }

    section:first-of-type h1:first-of-type {
        padding: 10px 0 0 10px;
    }

    .wrapper {
        width: 70%;
        padding-left:40px ;
        
    }

    section:first-of-type p {
        font-size: 18px;
        width: 80%;
        margin-left: -20px;
        text-align: center;
    }

    img {
        width: 100%;
        margin-left: -15px;
    }
}

@media ((min-width: 785px) and (max-width: 900px)) {
    section:first-of-type h1 {
        font-size: 25px;
        text-align: center;
        margin-left: -10px;
    }

    section:first-of-type h1:first-of-type {
        padding: 10px 0 0 0;
    }

    .wrapper {
        width: 50%;
    }

    section:first-of-type p {
        font-size: 18px;
        width: 90%;
        margin-left: -30px;
    }

    img {
        width: 100%;
        margin-left: -10px;
    }
}
@media ((min-width: 900px) and (max-width: 1000px)){
    section:first-of-type h1 {
        font-size: 22px;
        margin-left: -15px;
    }

    section:first-of-type h1:first-of-type {
        padding: 10px 0 0 0;
    }

    .wrapper {
        width: 40%;
    }

    section:first-of-type p {
        font-size: 20px;
        width: 85%;
        margin-left: -20px;
    }

    img {
        width: 100%;
        margin-left: -10px;
    }
}
@media ((min-width: 1000px) and (max-width: 1100px)){
    section:first-of-type h1 {
        font-size: 23px;
        margin-left: -13px;
    }

    section:first-of-type h1:first-of-type {
        padding: 10px 0 0 0;
    }

    .wrapper {
        width: 40%;
    }

    section:first-of-type p {
        font-size: 18px;
        width: 90%;
        margin-left: -40px;
    }

    img {
        width: 100%;
        margin-left: -10px;
    }
}
@media ((min-width: 1100px) and (max-width: 1300px)) {
    section:first-of-type h1 {
        font-size: 22px;
        margin-left: -13px;
    }

    section:first-of-type h1:first-of-type {
        padding: 10px 0 0 0;
    }

    .wrapper {
        width: 30%;
    }

    section:first-of-type p {
        font-size: 18px;
        width: 90%;
        margin-left: -40px;
    }

    img {
        width: 100%;
        margin-left: -10px;
    }
}

@media ((min-width: 1300px) and (max-width: 1400px)) {
    section:first-of-type h1 {
        margin-left: -10px;
        font-size: 24px;
    }

    section:first-of-type h1:first-of-type {
        padding: 10px 0 0 0;
    }
}

@media ((min-width: 1400px) and (max-width: 1500px)) {
    section:first-of-type h1 {
        margin-left:-10px;
        font-size: 25px;
    }

    section:first-of-type h1:first-of-type {
        padding: 10px 0 0 0;
    }
}