*{
    margin: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    background-color: #c2b8b8;
}
section{

}
.wrapper{
    margin: 0 auto;
    width: 20%;
    padding-top: 100px;
    background-color: #ffffff;
    pad
}
img{
    width: 90%;
}
section h1{
    width: 100%;
}
section p{
    width: 35%;
}