*{
    margin: 0;
    font-family:sans-serif;
}
body{
    background-color: #3a3ddd27;
}
section{
    padding-top: 100px;
}
.wrapper{
    margin: 0 auto;
    width: 20%;
    padding: 20px 0px 10px 25px;
    background-color: #ffffff;
    border-radius: 20px;
    padding-bottom: 50px;
}
img{
    width: 97%;
    border-radius: 10px;
    position: relative;
    left: -3%;
    margin-top: -7px;
}
section h1{
    width: 100%;
    font-size: 20px;
    color: rgba(1, 6, 34, 0.836);
    font-weight: 900;
    padding-left: 10px;
}
section h1:first-of-type{
    padding: 20px 0 0 20px;
}
section p{
    width: 85%;
    text-align: center;
    padding: 15px 0 0 10px;
    color: #473a9b8e;
    font-size: 13px;
}
@media ((min-width: 375px) and (max-width: 768px)){
    .wrapper{
        margin: 0 auto;
        width: 80%;
    }
    img{
        margin: 4px 0 0 7px;
    }
    section h1{
        margin-left: 12px;
        font-size: 25px;
    }
    section h1:first-of-type{
        margin-left: 3px;
        font-size: 28px;
    }
    section p{
        font-size: 20px;
    }
}